{{#partial "content"}}
    <h1> Recorded Departments</h1>

    <br>
    <br>
    <table class="table table-dark">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Department Name</th>
            <th scope="col">Department description</th>
            <th scope="col">Number of Employees</th>

        </tr>
        </thead>
        <tbody>


        {{#each departments}}
            <tr>

                <td>{{name}}</td>

                <!--Location of Sighting-->
                <td>{{description}}</td>

                <!--Animal's Name-->

                <td>{{numberOfEmployees}}</td>

        {{/each}}

        </tbody>
    </table>


{{/partial}}
{{> layout.hbs}}