{{#partial "content"}}
<p>yutd</p>
<br>
    <a href="/department">View created departments </a>
<br>

<br>
<a href="/users">View the available Users</a>

<br>
<br>
<a href="/news">View Current news</a>
    <br>
{{/partial}}
{{> layout.hbs}}