{{#partial "content"}}
<p>yutd</p>
    <a href="/department">View created departments </a>
<a href="/users">View the available Users</a>
<a href="/news">View Current news</a>
{{/partial}}
{{> layout.hbs}}